// Your custom styles
body{
    //padding-top: 60px;

}

//remove at bottom of footer
.page{
    margin: 0;
    padding-top:60px;
}
.navbar-toggler {
    background-color: transparent !important;
}
.entry-title {
    margin: 3em 0em;
}
.row {
padding-bottom: 1em;
}


.container-fluid {
    padding-right: 0rem;
    padding-left: 0rem;
}

.carousel-caption {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    bottom: initial;
    .h1-responsive{
        color: $blue-darken-4;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 600;
        text-align: left;
        
    }
    
}

@media (min-width: 576px) { 

}

@media (min-width: 768px) {
    .carousel-caption {
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        bottom: initial;
        .h1-responsive{
            color: $blue-darken-4;
            text-transform: uppercase;
            font-size: 3em;
            font-weight: 600;
            text-align: left;
            
        }
        
    }
}


@media (min-width: 992px) {
    .carousel-caption {
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        bottom: initial;
        .h1-responsive{
            color: $blue-darken-4;
            text-transform: uppercase;
            font-size: 5em;
            font-weight: 600;
            text-align: left;
            
        }
        
    }
}


@media (min-width: 1200px) {

}

.carousel-item{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
}


footer {
    margin-top: 4rem;
    .md-form label {
        color: $white;
    }
}


.no-line-break{
    margin-bottom: 0rem;
}
