// Your custom styles
.navbar-toggler {
    background-color: transparent !important;
}
.entry-title {
    margin: 3em 0em;
}
.row {
padding-bottom: 1em;
}

.mb-4 {
    margin-bottom: 4rem !important;
}